<div class="alwayshp-content">
    <div class="resource" style="display:none;">
        <div class="bar"></div>
        <div class="bar-change noselect"></div>
        <div class="temp-bar"></div>
    </div>
    <div class="death-savingthrow fail" title="{{localize 'ALWAYSHP.DeathSavingThrowFail'}}"><div></div><div></div><div></div></div>
    <div id="alwayshp-btn-dead" class="alwayshp-btn bad-ones" title="{{localize 'ALWAYSHP.SetToDead'}}">
        <i class="fas fa-skull"></i>
    </div>
    <div id="alwayshp-btn-hurt" class="alwayshp-btn bad-ones" title="{{localize 'ALWAYSHP.HurtCharacter'}}">
        <i class="fas fa-angle-double-down"></i>
    </div>
    <input id="alwayshp-hp" type="text" />
    <div id="alwayshp-btn-heal" class="alwayshp-btn good-ones" title="{{localize 'ALWAYSHP.HealCharacter'}}">
        <i class="fas fa-angle-double-up"></i>
    </div>
    <div id="alwayshp-btn-fullheal" class="alwayshp-btn good-ones" title="{{localize 'ALWAYSHP.HealFully'}}">
        <i class="fas fa-heart"></i>
    </div>
    <div class="death-savingthrow save" title="{{localize 'ALWAYSHP.DeathSavingThrowPass'}}"><div></div><div></div><div></div></div>
</div>